.feature {
  padding: 100px 100px 30px 100px;

  @include breakpoint(medium) {
    padding: 30px;
  }
  .feat-intro {
    width: 50%;
    text-align: center;
    margin: 0 auto;

    @include breakpoint(medium) {
      width: 100%;
    }

    p {
      padding: 1em 0;
    }
  }
}

.feature {
  ul.tab {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

    @include breakpoint(medium) {
      flex-direction: column;
    }
  }

  li {
    padding: 1em;
    border-bottom: solid 1px #dadada;
    cursor: pointer;

    &:hover,
    &:active {
      border-bottom: solid 2px $softRed;
      color: $softRed;
    }
  }
}

.feature {
  overflow: visible;

  * {
    overflow: visible;
  }

  .panel {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;

    @include breakpoint(medium) {
      flex-direction: column;
    }
  }

  .panel-img {
    width: 400px;
    position: relative;

    @include breakpoint(medium) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: contain;
    }
  }

  .img-bg {
    background-color: $softBlue;
    position: absolute;
    border-radius: 0 50vh 50vh 0;
    bottom: -15%;
    left: -20vh;
    width: 70vh;
    height: 45vh;
    z-index: -1;

    @include breakpoint(medium) {
      bottom: -15%;
      left: -20vh;
      width: 70%;
      height: 25vh;
    }

    @include breakpoint(small) {
      bottom: -10%;
      left: -20vh;
      width: 120%;
      height: 37vh;
    }
  }

  .panel-info {
    width: 40%;
    height: 300px;
    padding: 3em 0;
    @include breakpoint(medium) {
      text-align: center;
      margin: 0 auto;
      width: 100%;
    }

    p {
      padding: 1em 0;
    }
  }
}

// for js
.feature {
  .panel {
    display: none;
  }
  .panel.active {
    display: flex;
  }
  li.active {
    border-bottom: solid 2px $softRed;
  }
}
