.feature {
  position: relative;

  &__body {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 2em;

    p {
      padding: 1em 0;
    }
  }

  &__nav {
    ul {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      padding-bottom: 3em;

      @include breakpoint(small) {
        border-top: solid 1px $grayishBlue;
        flex-direction: column;
        text-align: center;
      }
    }

    li {
      border-bottom: solid 1px $grayishBlue;
      padding: 1em 2em;

      &:active {
        border-bottom: solid 2px $softRed;
      }
    }

    a {
      color: $grayishBlue;
      font-size: 1rem;
      &:hover {
        color: $softRed;
      }

      @include breakpoint(medium) {
        &:active {
          border-bottom: solid 2px $softRed;
        }
      }
    }
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(medium) {
      flex-direction: column;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: $softBlue;
      width: 40%;
      height: 22vw;
      border-radius: 0 50vw 50vw 0;
      left: 0%;
      bottom: 0;
      z-index: -1;

      @include breakpoint(medium) {
        height: 35vw;
        width: 50%;
        bottom: 23%;
      }
      @include breakpoint(small) {
        width: 70%;
        height: 45vw;
        bottom: 25%;
      }
    }

    img {
      max-width: 540px;
      width: 100%;
    }
  }

  .tab__body {
    max-width: 435px;
    height: 230px;

    @include breakpoint(medium) {
      text-align: center;
      padding: 2em 0;

      button {
        display: none;
      }
    }

    p {
      padding: 1em 0;
    }
  }
}
