header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  nav {
    display: flex;
    width: 460px;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(medium) {
      display: none;
    }
  }

  .burger-menu {
    display: none;
    @include breakpoint(medium) {
      display: inline-block;
    }
  }

  .logo {
    max-width: 150px;
    object-fit: contain;
  }
}
