*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: calc(1rem + 0.75vw);
  font-weight: 400;
  line-height: 1.3;
  color: #252b46;
}

*,
a {
  color: #252b46;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  font-size: 0.875rem;
}

a:hover {
  color: #fa5757;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2.375rem;
  font-weight: 500;
}

@media screen and (max-width: 530px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.625rem;
  font-weight: 500;
}

@media screen and (max-width: 530px) {
  h2 {
    font-size: 1rem;
  }
}

h3 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  color: #9194a1;
  line-height: 1.7;
}

@media screen and (max-width: 530px) {
  p {
    font-size: 0.75rem;
  }
}

.btn {
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px -5px #9e9e9e;
          box-shadow: 0px 5px 15px -5px #9e9e9e;
  padding: 1em 2em;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.btn {
  cursor: pointer;
}

.red-btn {
  background-color: #fa5757;
  border: solid 1px #fa5757;
  color: #fff;
}

.red-btn:hover {
  background-color: transparent;
  border: solid 1px #fa5757;
  color: #fa5757;
}

.blue-btn {
  background-color: #5368df;
  border: solid 1px #5368df;
  color: #fff;
}

.blue-btn:hover {
  background-color: transparent;
  color: #5368df;
}

.gray-btn {
  background-color: transparent;
  color: #252b46;
  border: solid 1px transparent;
}

.gray-btn:hover {
  border: solid 1px #9194a1;
  background-color: transparent;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

header nav ul {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 798px) {
  header nav ul {
    display: none;
  }
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 798px) {
  header nav {
    width: 100%;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
}

header .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .burger-menu {
  display: none;
}

@media screen and (max-width: 798px) {
  header .burger-menu {
    display: inline-block;
  }
}

header .logo {
  max-width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline;
}

.hero {
  position: relative;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 90px 0 160px;
}

@media screen and (max-width: 798px) {
  .hero .container {
    padding: 0 30px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero .image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 798px) {
  .hero .image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-bottom: 2em;
  }
}

.hero .image::after {
  content: "";
  position: absolute;
  background-color: #5368df;
  width: 40%;
  height: 23vw;
  border-radius: 50vw 0 0 50vw;
  right: 0%;
  top: 23%;
  z-index: -1;
}

@media screen and (max-width: 798px) {
  .hero .image::after {
    height: 35vw;
    width: 50%;
    top: 20%;
  }
}

@media screen and (max-width: 530px) {
  .hero .image::after {
    width: 70%;
    height: 45vw;
    top: 15%;
  }
}

.hero .image img {
  width: 100%;
  max-width: 570px;
}

.hero .hero-body {
  max-width: 490px;
  text-align: left;
}

@media screen and (max-width: 530px) {
  .hero .hero-body {
    text-align: center;
  }
}

.hero p {
  padding: 1.5em 0px;
}

.hero .hero-cta {
  padding: 1em 0;
}

.hero .hero-cta button {
  margin-right: 1em;
}

@media screen and (max-width: 798px) {
  .hero .hero-cta button {
    margin-bottom: 1em;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 100px 30px 100px;
}

@media screen and (max-width: 798px) {
  .container {
    padding: 30px 30px;
  }
}

.feature {
  padding: 100px 100px 30px 100px;
}

@media screen and (max-width: 798px) {
  .feature {
    padding: 30px;
  }
}

.feature .feat-intro {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.feature .feat-intro p {
  padding: 1em 0;
}

.feature ul.tab {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 798px) {
  .feature ul.tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature li {
  padding: 1em;
  border-bottom: solid 1px #dadada;
  cursor: pointer;
}

.feature li:hover, .feature li:active {
  border-bottom: solid 2px #fa5757;
  color: #fa5757;
}

.feature {
  overflow: visible;
}

.feature * {
  overflow: visible;
}

.feature .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
}

@media screen and (max-width: 798px) {
  .feature .panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature .panel-img {
  width: 400px;
  position: relative;
}

@media screen and (max-width: 798px) {
  .feature .panel-img {
    width: 100%;
  }
}

.feature .panel-img img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.feature .img-bg {
  background-color: #5368df;
  position: absolute;
  border-radius: 0 50vh 50vh 0;
  bottom: -15%;
  left: -20vh;
  width: 70vh;
  height: 45vh;
  z-index: -1;
}

@media screen and (max-width: 798px) {
  .feature .img-bg {
    bottom: -15%;
    left: -20vh;
    width: 70%;
    height: 25vh;
  }
}

@media screen and (max-width: 530px) {
  .feature .img-bg {
    bottom: -10%;
    left: -20vh;
    width: 120%;
    height: 37vh;
  }
}

.feature .panel-info {
  width: 40%;
  height: 300px;
  padding: 3em 0;
}

@media screen and (max-width: 798px) {
  .feature .panel-info {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

.feature .panel-info p {
  padding: 1em 0;
}

.feature .panel {
  display: none;
}

.feature .panel.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature li.active {
  border-bottom: solid 2px #fa5757;
}

.extension .container {
  margin-top: 100px;
}

@media screen and (max-width: 798px) {
  .extension .container {
    margin-top: 50px;
  }
}

.extension .extension-body {
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}

.extension .extension-body p {
  padding: 1em 0;
}

.extension .download {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  height: 500px;
  max-width: 850px;
  justify-items: space-between;
  overflow: visible;
}

@media screen and (max-width: 798px) {
  .extension .download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.extension .download .card {
  position: relative;
  padding: 1em;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 20px -5px #919191;
          box-shadow: 0 3px 20px -5px #919191;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 2;
  margin: 1em auto;
  max-height: 350px;
  max-width: 300px;
}

@media screen and (max-width: 530px) {
  .extension .download .card {
    margin: 1em auto;
    width: 100%;
  }
}

.extension .download .card:nth-child(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.extension .download .card:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.extension .download .card:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.extension .download img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: 100px;
  margin: 1em auto;
}

.extension .download p {
  padding-bottom: 4em;
  font-size: 0.7rem;
}

.extension .download .dot {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 2rem;
  z-index: -1;
}

.faq .faq-intro,
.faq .faq-body {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.faq .faq-intro {
  margin-bottom: 2em;
}

.faq .faq-intro p {
  padding: 1em 0;
  font-size: 0.9rem;
}

.faq .accordion-btn {
  width: 100%;
  padding: 1em 0;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-size: 1rem;
  outline: none;
}

@media screen and (max-width: 798px) {
  .faq .accordion-btn {
    font-size: 0.85rem;
  }
}

.faq .accordion {
  border: none;
  border-bottom: solid 1px #c9c9c9;
}

.faq .accordion:first-child {
  border-top: solid 1px #c9c9c9;
}

.faq .blue-btn {
  margin: 3em auto;
  color: #fff;
}

.faq .blue-btn:hover {
  color: #5368df;
}

.faq .panel {
  display: none;
  text-align: left;
  padding: 0 0 1em 0;
}

.faq .panel p {
  color: #9194a1;
  font-size: 0.85rem;
  line-height: 2;
}

.faq .reverse path {
  -webkit-transform: rotateX(160deg);
          transform: rotateX(160deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  stroke: #fa5757;
}

.faq .active {
  color: #fa5757;
}

.signup {
  background-color: #5368df;
}

.signup .container {
  margin: 0 auto;
  min-height: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.signup p,
.signup h1 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 4px;
  padding-bottom: 1em;
  max-width: 500px;
  margin: 0 auto;
}

.signup .email {
  max-width: 290px;
  margin-right: 1em;
  border: solid 2px #fff;
}

.signup .submit-btn {
  background-color: #fa5757;
  color: #fff;
  border-radius: 7px;
  border: solid 2px #fa5757;
}

.signup .submit-btn:hover {
  background-color: #fff;
  color: #fa5757;
}

.signup .submit-btn:focus {
  border: solid 2px #fa5757;
  border-radius: 7px;
}

.signup .email,
.signup .submit-btn {
  font-size: 1rem;
  border-radius: 7px;
  padding: 1em;
}

@media screen and (max-width: 798px) {
  .signup .email,
  .signup .submit-btn {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
  }
}

footer {
  background-color: #252b46;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 798px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 350px;
  }
}

footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 798px) {
  footer .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-nav a {
  padding: 1em 3em;
  color: #fff;
}

footer .footer-nav a:hover {
  color: #fa5757;
}

footer .footer-nav img {
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 1em;
}

footer .social svg {
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
  margin-left: 1em;
}

footer .social svg path:hover {
  fill: #fa5757;
}

@media screen and (max-width: 798px) {
  footer .social svg {
    margin: 1em;
  }
}

header {
  position: relative;
  overflow: visible;
}

header .mobile-nav {
  background-color: #252b46;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  margin: 0 auto;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 90%;
}

header .mobile-nav .logo path {
  fill: #fff;
}

header .mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em 0;
  margin: 0 auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

header .mobile-nav ul li {
  width: 80%;
  border-bottom: solid 1px #c9c9c9;
  padding: 1em 0;
}

header .mobile-nav ul li:first-child {
  border-top: solid 1px #c9c9c9;
}

header .mobile-nav ul a {
  color: #c9c9c9;
}

header .mobile-nav ul .white-btn {
  background-color: transparent;
  border: solid 2px #fff;
  font-weight: 600;
  color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1em 0;
  margin: 3em 0;
  width: 80%;
}

header .menu-btn,
header .menu-close-btn {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

header .menu-close-btn {
  display: none;
}

header .menu-btn {
  background-color: #fff;
}

header .show {
  display: inline-block;
}

header .hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */