.faq {
  .faq-intro,
  .faq-body {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
  }

  .faq-intro {
    margin-bottom: 2em;

    p {
      padding: 1em 0;
      font-size: 0.9rem;
    }
  }

  .accordion-btn {
    width: 100%;
    padding: 1em 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    outline: none;
  }

  .accordion {
    border: none;
    border-bottom: solid 1px #c9c9c9;

    &:first-child {
      border-top: solid 1px #c9c9c9;
    }
  }

  .blue-btn {
    margin: 3em auto;
  }

  .panel {
    display: none;
    text-align: left;
    padding: 0 0 1em 0;
    p {
      color: $grayishBlue;
      font-size: 0.85rem;
      line-height: 2;
    }
  }

  .reverse path {
    transform: rotateX(160deg);
    transform-origin: center;
    stroke: $softRed;
  }

  .active {
    color: $softRed;
  }
}
