footer {
  background-color: $veryDarkBlue;

  .container {
    display: flex;
    height: 100px;
    // padding: 1em 100px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    @include breakpoint(medium) {
      flex-direction: column;
      text-align: center;
      height: 300px;
    }
  }

  .footer-nav {
    display: flex;
    height: max-content;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(medium) {
      flex-direction: column;
    }
    a {
      padding: 1em 3em;
      color: #fff;
      &:hover {
        color: $softRed;
      }
    }

    img {
      vertical-align: middle;
      object-fit: contain;
      margin: 1em;
    }
  }

  .social {
    svg {
      object-fit: contain;
      vertical-align: middle;
      margin-left: 1em;

      path:hover {
        fill: $softRed;
      }

      @include breakpoint(medium) {
        margin: 1em;
      }
    }
  }
}
