*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}

html {
  font-size: 100%;
}

body {
  font-family: $family;
  font-size: calc(1rem + 0.75vw);
  font-weight: $regular;
  line-height: 1.3;
  color: $veryDarkBlue;
}

*,
a {
  color: $veryDarkBlue;
  font-size: 1.25rem;
}
a {
  text-decoration: none;
  font-size: 0.875rem;
  &:hover {
    color: $softRed;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  @include breakpoint(large) {
    font-size: 2.375rem;
  }
}

h2 {
  font-size: 1rem;
  @include breakpoint(large) {
    font-size: 1.625rem;
  }
}

p {
  font-size: 0.75rem;
  color: $grayishBlue;
  @include breakpoint(large) {
    font-size: 1.125rem;
  }
}

button {
  border-radius: 5px;
  box-shadow: 0px 5px 15px -5px #9e9e9e;
  padding: 1em 1.5em;
  font-family: $family;
  font-size: 0.75rem;
}

.red-btn {
  background-color: $softRed;
  border: solid 1px $softRed;
  color: #fff;

  &:hover {
    background-color: transparent;
    border: solid 1px $softRed;
    color: $softRed;
  }
}

.blue-btn {
  background-color: $softBlue;
  border: none;
  color: #fff;
  &:hover {
    background-color: transparent;
    color: $softBlue;
    border: solid 1px $softBlue;
  }
}

.gray-btn {
  background-color: transparent;
  color: $veryDarkBlue;
  border: none;
  &:hover {
    border: solid 1px $grayishBlue;
    background-color: transparent;
  }
}
