header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 60px 60px 60px;
    @include breakpoint(large) {
      padding: 50px 170px 110px 170px;
    }
  }

  nav {
    display: none;
    @include breakpoint(large) {
      display: flex;
      width: 460px;
      justify-content: space-between;
      align-items: center;
    }
  }

  .burger-menu {
    display: inline-block;
    @include breakpoint(large) {
      display: none;
    }
  }

  .logo {
    width: 125px;
    height: 15px;
    object-fit: contain;
    @include breakpoint(small) {
      width: 150px;
      height: 30px;
    }
  }
}
