header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px 170px 110px 170px;
    @include breakpoint(medium) {
      padding: 30px 30px 60px 60px;
    }
    @include breakpoint(small) {
      padding: 30px 60px 60px 60px;
    }
  }

  nav {
    display: flex;
    width: 460px;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(medium) {
      display: none;
    }
  }

  .burger-menu {
    display: none;
    @include breakpoint(medium) {
      display: inline-block;
    }
  }

  .logo {
    max-width: 150px;
    object-fit: contain;
  }
}
