*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: calc(1rem + 0.75vw);
  font-weight: 400;
  line-height: 1.3;
  color: #252b46;
}

*,
a {
  color: #252b46;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  font-size: 0.875rem;
}

a:hover {
  color: #fa5757;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2.375rem;
  font-weight: 500;
}

@media screen and (max-width: 499px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.625rem;
  font-weight: 500;
}

@media screen and (max-width: 499px) {
  h2 {
    font-size: 1rem;
  }
}

h3 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  color: #9194a1;
  line-height: 1.7;
}

@media screen and (max-width: 499px) {
  p {
    font-size: 0.75rem;
  }
}

button.btn {
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px -5px #9e9e9e;
          box-shadow: 0px 5px 15px -5px #9e9e9e;
  padding: 1em 2em;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.red-btn {
  background-color: #fa5757;
  border: solid 1px #fa5757;
  color: #fff;
}

.red-btn:hover {
  background-color: transparent;
  border: solid 1px #fa5757;
  color: #fa5757;
}

.blue-btn {
  background-color: #5368df;
  border: solid 1px #5368df;
  color: #fff;
}

.blue-btn:hover {
  background-color: transparent;
  color: #5368df;
}

.gray-btn {
  background-color: transparent;
  color: #252b46;
  border: solid 1px transparent;
}

.gray-btn:hover {
  border: solid 1px #9194a1;
  background-color: transparent;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 50px 170px 110px 170px;
}

@media screen and (max-width: 768px) {
  header .container {
    padding: 30px 30px 60px 60px;
  }
}

@media screen and (max-width: 499px) {
  header .container {
    padding: 30px 60px 60px 60px;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
}

header .burger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  header .burger-menu {
    display: inline-block;
  }
}

header .logo {
  max-width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero {
  position: relative;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 90px 0 160px;
}

@media screen and (max-width: 768px) {
  .hero .container {
    padding: 0 30px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero .image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 768px) {
  .hero .image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-bottom: 2em;
  }
}

.hero .image::after {
  content: "";
  position: absolute;
  background-color: #5368df;
  width: 40%;
  height: 23vw;
  border-radius: 50vw 0 0 50vw;
  right: 0%;
  top: 23%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .hero .image::after {
    height: 35vw;
    width: 50%;
    top: 20%;
  }
}

@media screen and (max-width: 499px) {
  .hero .image::after {
    width: 70%;
    height: 45vw;
    top: 15%;
  }
}

.hero .image img {
  width: 100%;
  max-width: 570px;
}

.hero .hero-body {
  max-width: 490px;
  text-align: left;
}

@media screen and (max-width: 499px) {
  .hero .hero-body {
    text-align: center;
  }
}

.hero p {
  padding: 1.5em 0px;
}

.hero .hero-cta {
  padding: 1em 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 85px 0 150px;
}

@media screen and (max-width: 499px) {
  .container {
    padding: 30px 30px;
  }
}

.feature {
  position: relative;
}

.feature__body {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0 60px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .feature__body {
    padding: 110px 30px 40px 30px;
  }
}

.feature__body p {
  padding: 1em 0;
}

.feature__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2em;
}

@media screen and (max-width: 499px) {
  .feature__nav ul {
    border-top: solid 1px #9194a1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.feature__nav li {
  border-bottom: solid 1px #9194a1;
  padding: 1em 2em;
}

.feature__nav li:active {
  border-bottom: solid 2px #fa5757;
}

.feature__nav a {
  color: #9194a1;
  font-size: 1rem;
}

.feature__nav a:hover {
  color: #fa5757;
}

@media screen and (max-width: 768px) {
  .feature__nav a:active {
    border-bottom: solid 2px #fa5757;
  }
}

.feature .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .feature .tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature .tab::after {
  content: "";
  position: absolute;
  background-color: #5368df;
  width: 40%;
  height: 22vw;
  border-radius: 0 50vw 50vw 0;
  left: 0%;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .feature .tab::after {
    height: 35vw;
    width: 50%;
    bottom: 23%;
  }
}

@media screen and (max-width: 499px) {
  .feature .tab::after {
    width: 70%;
    height: 45vw;
    bottom: 25%;
  }
}

.feature .tab img {
  max-width: 540px;
  width: 100%;
}

.feature .tab__body {
  max-width: 435px;
  height: 230px;
}

@media screen and (max-width: 768px) {
  .feature .tab__body {
    text-align: center;
    padding: 2em 0;
  }
}

.feature .tab__body p {
  padding: 1em 0;
}

.extension .container {
  padding: 150px 240px 240px 240px;
}

@media screen and (max-width: 768px) {
  .extension .container {
    padding: 120px 30px;
  }
}

.extension .extension-body {
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}

.extension .extension-body p {
  padding: 1em 0;
}

.extension .download {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  height: 500px;
  max-width: 850px;
  justify-items: space-between;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .extension .download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.extension .download .card {
  position: relative;
  padding: 1em;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 20px -5px #c9c9c9;
          box-shadow: 0 10px 20px -5px #c9c9c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 2;
  margin: 1em auto;
  max-height: 350px;
  max-width: 300px;
}

@media screen and (max-width: 499px) {
  .extension .download .card {
    margin: 1em auto;
    width: 100%;
  }
}

.extension .download .card:nth-child(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.extension .download .card:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.extension .download .card:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.extension .download img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: 100px;
  margin: 1em auto;
}

.extension .download p {
  padding-bottom: 4em;
  font-size: 0.7rem;
}

.extension .download .dot {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 2rem;
  z-index: -1;
}

.faq .container {
  padding: 100px 430px;
  text-align: center;
}

.faq .faq-intro {
  margin-bottom: 2em;
}

.faq .faq-intro p {
  padding: 1em 0;
  font-size: 0.9rem;
}

.faq .accordion {
  width: 100%;
  padding: 1em 0;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq .accordion-wrapper:first-of-type {
  border-top: solid 1px #c9c9c9;
}

.faq .blue-btn {
  margin: 3em auto;
}

.faq .icon-arrow {
  float: right;
}

.faq .panel {
  text-align: left;
}
/*# sourceMappingURL=main.css.map */