*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: calc(1rem + 0.75vw);
  font-weight: 400;
  line-height: 1.3;
  color: #252b46;
}

*,
a {
  color: #252b46;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  font-size: 0.875rem;
}

a:hover {
  color: #fa5757;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 999px) {
  h1 {
    font-size: 2.375rem;
  }
}

h2 {
  font-size: 1rem;
}

@media screen and (min-width: 999px) {
  h2 {
    font-size: 1.625rem;
  }
}

p {
  font-size: 0.75rem;
  color: #9194a1;
}

@media screen and (min-width: 999px) {
  p {
    font-size: 1.125rem;
  }
}

button {
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px -5px #9e9e9e;
          box-shadow: 0px 5px 15px -5px #9e9e9e;
  padding: 1em 1.5em;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
}

.red-btn {
  background-color: #fa5757;
  border: solid 1px #fa5757;
  color: #fff;
}

.red-btn:hover {
  background-color: transparent;
  border: solid 1px #fa5757;
  color: #fa5757;
}

.blue-btn {
  background-color: #5368df;
  border: none;
  color: #fff;
}

.blue-btn:hover {
  background-color: transparent;
  color: #5368df;
  border: solid 1px #5368df;
}

.gray-btn {
  background-color: transparent;
  color: #252b46;
  border: none;
}

.gray-btn:hover {
  border: solid 1px #9194a1;
  background-color: transparent;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 60px 60px 60px;
}

@media screen and (min-width: 999px) {
  header .container {
    padding: 50px 170px 110px 170px;
  }
}

header nav {
  display: none;
}

@media screen and (min-width: 999px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 460px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .burger-menu {
  display: inline-block;
}

@media screen and (min-width: 999px) {
  header .burger-menu {
    display: none;
  }
}

header .logo {
  width: 125px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 499px) {
  header .logo {
    width: 150px;
    height: 30px;
  }
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 30px;
}

@media screen and (min-width: 999px) {
  .hero .container {
    padding: 0 90px 0 160px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero img {
  width: 100%;
  max-width: 570px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media screen and (min-width: 999px) {
  .hero img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.hero .hero-body {
  max-width: 500px;
  text-align: center;
}

@media screen and (min-width: 999px) {
  .hero .hero-body {
    max-width: 490px;
    text-align: left;
  }
}

.hero p {
  line-height: 1.8;
  padding: 1.5em 0px;
}
/*# sourceMappingURL=main.css.map */